# Build output
build/
bin/
target/

# Hidden files
.*
!/.gitignore
!/.travis.yml

# IntelliJ IDEA
*.iml

# Java Classes
*.class

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*